In [1]:

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

## 查看数据集

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_set = pd.read_csv("/kaggle/input/spaceship-titanic/train.csv")
test_set = pd.read_csv("/kaggle/input/spaceship-titanic/test.csv")

In [4]:
train_set.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

CryoSleep|Cabin|FoodCourt|VRDeck
-|-|-|-
低温睡眠|小屋|美食广场（？）|VR甲板

In [5]:
test_set.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus

In [6]:
sample = pd.read_csv("/kaggle/input/spaceship-titanic/sample_submission.csv")
sample.head(5)

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [7]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [8]:
#查看统计信息
train_set.describe()
# count:非空值总数  mean:非空值的平均值

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [9]:
print(train_set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB
None

基本上都有缺失值：
* 考虑将年龄用均值填充
* RoomService、FoodCourt、ShoppingMall、Spa、VRDec一半以上都为0，所以全部缺失值设为0

## 二、数据预处理
包括：
* 去掉name字段
* CryoSleep  VIP  HomePlanet 用one-hot编码
* 填充缺失值

In [10]:
train_set.keys()

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

### **年龄**

In [11]:
train_set['Age'] = train_set['Age'].fillna(train_set['Age'].median())

In [12]:
test_set['Age'] = test_set['Age'].fillna(test_set['Age'].median())

### **VIP and CryoSleep and Transported(train set)**

**被骗了，好像True和False直接找不出来的，直接等于0和1了**

debug了半小时  想鼠

In [13]:
# 但是以防万一还是显示改一下
train_set.loc[train_set['VIP'] == 1, 'VIP'] = 1
train_set.loc[train_set['VIP'] == 0, 'VIP'] = 0

train_set.loc[train_set['CryoSleep'] == 1, 'CryoSleep'] = 1
train_set.loc[train_set['CryoSleep'] == 0, 'CryoSleep'] = 0

train_set.loc[train_set['Transported'] == 1, 'Transported'] = 1
train_set.loc[train_set['Transported'] == 0, 'Transported'] = 0

/tmp/ipykernel_33/1535746703.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  train_set.loc[train_set['Transported'] == 1, 'Transported'] = 1

In [14]:
train_set.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1
5,0005_01,Earth,0,F/0/P,PSO J318.5-22,44.0,0,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,1
6,0006_01,Earth,0,F/2/S,TRAPPIST-1e,26.0,0,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,1
7,0006_02,Earth,1,G/0/S,TRAPPIST-1e,28.0,0,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,1
8,0007_01,Earth,0,F/3/S,TRAPPIST-1e,35.0,0,0.0,785.0,17.0,216.0,0.0,Andona Beston,1
9,0008_01,Europa,1,B/1/P,55 Cancri e,14.0,0,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,1

In [15]:
# 测试集也一样
test_set.loc[train_set['VIP'] == 1, 'VIP'] = 1
test_set.loc[train_set['VIP'] == 0, 'VIP'] = 0

test_set.loc[train_set['CryoSleep'] == 1, 'CryoSleep'] = 1
test_set.loc[train_set['CryoSleep'] == 0, 'CryoSleep'] = 0

test_set.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,0,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,0,C/0/S,55 Cancri e,31.0,1,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez
5,0027_01,Earth,0,F/7/P,TRAPPIST-1e,31.0,0,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks
6,0029_01,Europa,0,B/2/P,55 Cancri e,21.0,0,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle
7,0032_01,Europa,1,D/0/S,TRAPPIST-1e,20.0,0,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry
8,0032_02,Europa,0,D/0/S,55 Cancri e,23.0,0,0.0,0.0,0.0,0.0,0.0,Dhena Pringry
9,0033_01,Earth,1,F/7/S,55 Cancri e,24.0,0,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson

In [16]:
#查看统计信息
# train_set.describe()
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   object
dtypes: float64(6), object(8)
memory usage: 950.9+ KB

In [17]:
# 填充
train_set['VIP'] = train_set['VIP'].fillna(0)
test_set['VIP'] = test_set['VIP'].fillna(0)

train_set['CryoSleep'] = train_set['CryoSleep'].fillna(0)
test_set['CryoSleep'] = test_set['CryoSleep'].fillna(0)

/tmp/ipykernel_33/3560625083.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_set['VIP'] = train_set['VIP'].fillna(0)
/tmp/ipykernel_33/3560625083.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_set['CryoSleep'] = train_set['CryoSleep'].fillna(0)

In [18]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8693 non-null   int64
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   int64
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   object
dtypes: float64(6), int64(2), object(6)
memory usage: 950.9+ KB

### **HomePlanet和Cabin和Destination**

In [19]:
#统计HomePlanet计数
print(train_set['HomePlanet'].value_counts())

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

In [20]:
# ok直接编码
train_set.loc[train_set['HomePlanet'] == 'Earth', 'HomePlanet'] = 0
train_set.loc[train_set['HomePlanet'] == 'Europa', 'HomePlanet'] = 1
train_set.loc[train_set['HomePlanet'] == 'Mars', 'HomePlanet'] = 2
train_set.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,0,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,1,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,1,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,0,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1
5,0005_01,0,0,F/0/P,PSO J318.5-22,44.0,0,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,1
6,0006_01,0,0,F/2/S,TRAPPIST-1e,26.0,0,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,1
7,0006_02,0,1,G/0/S,TRAPPIST-1e,28.0,0,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,1
8,0007_01,0,0,F/3/S,TRAPPIST-1e,35.0,0,0.0,785.0,17.0,216.0,0.0,Andona Beston,1
9,0008_01,1,1,B/1/P,55 Cancri e,14.0,0,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,1

In [21]:
#看看测试集干不干净
print(test_set['HomePlanet'].value_counts())

HomePlanet
Earth     2263
Europa    1002
Mars       925
Name: count, dtype: int64

In [22]:
test_set.loc[test_set['HomePlanet'] == 'Earth', 'HomePlanet'] = 0
test_set.loc[test_set['HomePlanet'] == 'Europa', 'HomePlanet'] = 1
test_set.loc[test_set['HomePlanet'] == 'Mars', 'HomePlanet'] = 2
test_set.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,0,0,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,0,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,1,0,C/0/S,55 Cancri e,31.0,1,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,1,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,0,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez
5,0027_01,0,0,F/7/P,TRAPPIST-1e,31.0,0,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks
6,0029_01,1,0,B/2/P,55 Cancri e,21.0,0,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle
7,0032_01,1,1,D/0/S,TRAPPIST-1e,20.0,0,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry
8,0032_02,1,0,D/0/S,55 Cancri e,23.0,0,0.0,0.0,0.0,0.0,0.0,Dhena Pringry
9,0033_01,0,1,F/7/S,55 Cancri e,24.0,0,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson

In [23]:
#  填充缺失值
sum(train_set['HomePlanet'].isna())

201

In [24]:
sum_train = sum(train_set['HomePlanet'].isna())
sum_test = sum(test_set['HomePlanet'].isna())

In [25]:
count_train_earth = 4602
count_train_europa = 2132
count_train_mars = 1759

count_test_earth = 2263
count_test_europa = 1002
count_test_mars = 925

In [ ]:
#定义一个填充函数
def fill_HomePlanet(myset,count_earth, count_europa, count_mars,s):
    # 算每个目的地的比例
    rearth = count_earth/s
    reuropa = count_europa/s
    rmars = count_mars/s
#     print(earth, europa, mars)
    
    #计算空的有多少
    all_item = myset['HomePlanet'].isna().sum()
    nullCount = all_item - sum(myset['HomePlanet'].value_counts())
    
    # 计算每个目的地该填充多少个
    earth =int(rearth * nullCount) 
    europa =int(reuropa * nullCount)
    mars = int(rmars * nullCount)
    if(earth+europa+mars < nullCount):
        earth += nullCount-(earth+europa+mars)
    print(earth+europa+mars)
    
    # 开始按比例填充
    count = 0;
    if count<earth:
        myset['HomePlanet'] = myset['HomePlanet'].fillna(0)
        count += 1
    elif (count<(europa+earth)) :
        myset['HomePlanet'] = myset['HomePlanet'].fillna(1)
        count += 1
    else:
        myset['HomePlanet'] = myset['HomePlanet'].fillna(2)
        count += 1

In [ ]:
fill_HomePlanet(train_set,count_train_earth, count_train_europa,count_train_mars, sum_train )

In [ ]:
train_set.info()

In [ ]:
fill_HomePlanet(test_set,count_test_earth, count_test_europa,count_test_mars, sum_test )
test_set.info()

**TODO：处理Cabin**

In [ ]:
# print(train_set['Cabin'].value_counts())
#直接把S 和P分开好了 要用正则表达式

import re
def last_char(s):
    match = re.search(r'.$', s)
    return match.group()

In [ ]:
train_set['Cabin']

In [ ]:
print(train_set.info())

**处理Destination**

In [ ]:
print(train_set['Destination'].value_counts())#8511条，缺失182

In [ ]:
#按比例填充缺失值吧
s = sum(train_set['Destination'].value_counts())
# countTRA = (train_set['Destination']=="TRAPPIST-1e").value_counts()[0]  # 取出值为True的总数5915
# # (train_set['Destination']=="TRAPPIST-1e").value_counts()
# countCAN =  (train_set['Destination']=="55 Cancri e").value_counts()
# countPSO = (train_set['Destination']=="PSO J318.5-22").value_counts()[0] 
# print(countTRA, countCAN, countPSO)

# TODO:用代码取出各个目的地的值，搞了半小时实在没搞出，先手动了
countTRA = 5915
countCAN = 1800
countPSO = 796

坏了 咋按比例填充

In [ ]:
train_set.loc[train_set['Destination'] == 'TRAPPIST-1e', 'Destination'] = 0
train_set.loc[train_set['Destination'] == '55 Cancri e', 'Destination'] = 1
train_set.loc[train_set['Destination'] == 'PSO J318.5-22', 'Destination'] = 2

test_set.loc[test_set['Destination'] == 'TRAPPIST-1e', 'Destination'] = 0
test_set.loc[test_set['Destination'] == '55 Cancri e', 'Destination'] = 1
test_set.loc[test_set['Destination'] == 'PSO J318.5-22', 'Destination'] = 2

In [ ]:
train_set.head(10)

In [ ]:
test_set.head(10)

In [ ]:
#定义一个填充函数，累死了
def fill_Destination(myset,countTRA, countCAN, countPSO,s):
    # 算每个目的地的比例
    rTRA = countTRA/s
    rCAN = countCAN/s
    rPSO = countPSO/s
    print(rTRA, rCAN, rPSO)
    
    #计算空的有多少
    all_item = myset['Destination'].isna().sum()
    nullCount = all_item - sum(myset['Destination'].value_counts())
    
    # 计算每个目的地该填充多少个
    TRA =int(rTRA * nullCount) 
    CAN =int(rCAN * nullCount)
    PSO = int(rPSO * nullCount)
    if(TRA+CAN+PSO < nullCount):
        TRA += nullCount-(TRA+CAN+PSO)
    print(TRA+CAN+PSO)
    
    # 开始按比例填充
    count = 0;
    if count<TRA:
        myset['Destination'] = myset['Destination'].fillna(0)
        count += 1
    elif (count<(TRA+CAN)) :
        myset['Destination'] = myset['Destination'].fillna(1)
        count += 1
    else:
        myset['Destination'] = myset['Destination'].fillna(2)
        count += 1

In [ ]:
print(train_set.info())

In [ ]:
fill_Destination(train_set, countTRA,countCAN,countPSO,s )

In [ ]:
print(train_set.info())

In [ ]:
print(test_set['Destination'].value_counts())

In [ ]:
s_test = sum(test_set['Destination'].value_counts())
countTRA_test = 2956
countCAN_test = 841
countPSO_test = 388

fill_Destination(test_set,countTRA_test,countCAN_test,countPSO_test,s_test)

In [ ]:
test_set.info()

## 其他的

RoomServic, FoodCourt, ShoppingMall, Spa, VRDeck 中位数为0，所以都填充为0

In [ ]:
# RoomService
train_set['RoomService'].value_counts()
train_set['RoomService'] = train_set['RoomService'].fillna(0)

In [ ]:
test_set['RoomService'].value_counts()
test_set['RoomService'] = train_set['RoomService'].fillna(0)

In [ ]:
train_set['FoodCourt'].value_counts()
train_set['FoodCourt'] = train_set['RoomService'].fillna(0)

In [ ]:
test_set['FoodCourt'] = test_set['RoomService'].fillna(0)

In [ ]:
train_set['ShoppingMall'].value_counts() #5587
train_set['ShoppingMall'] = train_set['ShoppingMall'].fillna(0)
test_set['ShoppingMall'] = test_set['ShoppingMall'].fillna(0)

In [ ]:
train_set['Spa'].value_counts() #5327
train_set['Spa'] = train_set['Spa'].fillna(0)
test_set['Spa'] = test_set['Spa'].fillna(0)

In [ ]:
train_set['VRDeck'].value_counts() #5495
train_set['VRDeck'] = train_set['VRDeck'].fillna(0)
test_set['VRDeck'] = test_set['VRDeck'].fillna(0)

In [ ]:
train_set.info()

In [ ]:
train_set['Transported'] = train_set['Transported'].astype(int)

In [ ]:
test_set.info()

In [ ]:
test_set['CryoSleep'] = test_set['CryoSleep'].astype(int)
test_set['VIP'] = test_set['VIP'].astype(int)

In [ ]:
test_set.info()

## 准备训练

In [57]:
x_train = train_set.drop(['Transported'], axis=1)
x_train = x_train.drop(['PassengerId'], axis=1)
x_train = x_train.drop(['Cabin'], axis=1)
x_train = x_train.drop(['Name'], axis=1)

In [58]:
x_train = x_train.values
x_train

array([[1.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.500e+01, 5.490e+02,
        4.400e+01],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 6.715e+03,
        4.900e+01],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.872e+03, 1.000e+00,
        0.000e+00],
       [1.000e+00, 0.000e+00, 1.000e+00, ..., 0.000e+00, 3.530e+02,
        3.235e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.200e+01]])

In [ ]:

x_test = test_set.drop(['PassengerId'], axis=1)
x_test = x_test.drop(['Cabin'], axis=1)
x_test = x_test.drop(['Name'], axis=1)

In [ ]:
x_test = x_test.values
x_test

In [ ]:
y_train = train_set['Transported'].values
y_train

In [ ]:
# 划分数据集
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(x_train, y_train, random_state=666, train_size=0.8)

In [ ]:
train_x.shape, val_x.shape

In [ ]:
train_y.shape, val_y.shape

## normalize

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
scaler = StandardScaler()

In [ ]:
x_train = scaler.fit_transform(train_x)
x_val = scaler.fit_transform(val_x)

## XGBboost

In [ ]:
from sklearn.metrics import roc_auc_score as ras

In [ ]:

model = XGBClassifier()
model.fit(x_train, train_y)
print("XGBbosst:\n")

train_preds = model.predict_proba(x_train)[:,1]
print("Train Acc:{:.5f}".format(ras(train_y, train_preds)))

val_preds = model.predict_proba(x_val)[:,1]
print("Valid Acc:{:.5f}".format(ras(val_y, val_preds)))

过拟合了

In [ ]:
y_pred = model.predict(x_val)
cm = metrics.confusion_matrix(val_y, y_pred)
disp = metrics.ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()
plt.show()

In [ ]:
print(metrics.classification_report
      (val_y, model.predict(x_val)))

#### TODO: 开始训练
我直接扔到神经网络里

## Submission

In [ ]:
x_test = scaler.fit_transform(test_x)

In [ ]:
predictions = model.predict(x_test)

In [ ]:
submission_id = test_set.PassengerId

In [ ]:
submission_id

In [ ]:
predictions.shape

In [ ]:
output = pd.DataFrame({'PassengerId': submission_id,
                       'Transported': predictions})

In [ ]:
# output.shape
output.head(10)

In [ ]:
sample_submission_df = pd.read_csv('/kaggle/input/spaceship-titanic/sample_submission.csv')
# sample_submission_df['Transported'] = n_predictions
# sample_submission_df.to_csv('/kaggle/working/submission.csv', index=False)
# sample_submission_df.head()
sample_submission_df.head()

In [ ]:
sample_submission_df['Transported'] = predictions
sample_submission_df.to_csv('/kaggle/working/submission.csv', index=False)

In [ ]:
sample_submission_df.head(10)